/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Inputs */
*::-webkit-input-placeholder {
/* Google Chrome y Safari */
	font-family: 'Orbitron', sans-serif;
	font-size:2vh;
	color:white;

}
*:-moz-placeholder {
/* Firefox anterior a 19 */
	font-family: 'Orbitron', sans-serif;
	font-size:2vh;
	color:white;

}
*::-moz-placeholder {
/* Firefox 19 y superior */
	font-family: 'Orbitron', sans-serif;
	font-size:2vh;
	color:white;

}
*:-ms-input-placeholder {
/* Internet Explorer 10 y superior */
	font-family: 'Orbitron', sans-serif;
	font-size:2vh;
	color:white;

}

/* Fin de inputs */


/* GLOBAL */
:root{
    /* COLORS */
    --red-dark:#2A0609;
    --purple:#3A1421;
    --red:#85160C;
    --salmon:#B86450;
    --red-light:#E93F33;
    --white:white;
    --black: #190002;
    /* FONT-TYPE */
    --retro-font:'Press Start 2P', cursive;
    --orbitron-font:'Orbitron', sans-serif;
}
