:root{
    /* COLORS */
    --red-dark:#2A0609;
    --purple:#3A1421;
    --red:#85160C;
    --salmon:#B86450;
    --red-light:#E93F33;
    --white:white;
    --black: #190002;
    /* FONT-TYPE */
    --retro-font:'Press Start 2P', cursive;
    --orbitron-font:'Orbitron', sans-serif;
}

body{
    width: 100%;
}

.general_main{
    width: 100%;
    height: 100%;
    background-image: url(./assets/img/background_index.png);
    background-size: cover;
}

