body {
  overflow: hidden;
}

.gamePageDisplay {
  background-image: url(../assets/img/background_fact_pixel.png);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.gun {
  position: absolute;
  bottom: 0px;
  z-index: 4;
}

.gif_gun {
  width: 60vh;
  height: 50vh;
}
.img_gun {
  width: 20vh;
  height: 22vh;
}

.img_kill_button {
  width: 100%;
  cursor:pointer;
}

.block_next {
  position: fixed;
  width: 100%;
  margin: 0vh 0vh -1vh -1vh;
  height: 100vh;
  background-color: rgba(24, 29, 24, 0.336);
}

.nextButton_oficial {
  position: absolute;
  bottom: 0;
  z-index: 5;
  color: white;
  border: 3px solid white;
  margin: 10vh 2vh;
  cursor: pointer;
  padding: 1.2vh 2.5vh;
  transition: 0.3s;
  animation: vibrate 1s infinite;
}
@keyframes vibrate {
  0% {
    padding: 1.2vh 2.5vh;
    font-size: 2vh;
  }
  50% {
    padding: 1.5vh 3vh;
    font-size: 2.5vh;
  }
  100% {
    padding: 1.2vh 2.5vh;
    font-size: 2vh;
  }
}

@keyframes vibrate_kill {
  0% {
    padding: 1.2vh 2.5vh;
    font-size: 2vh;
  }
  50% {
    padding: 1.5vh 3vh;
    font-size: 2.5vh;
  }
  100% {
    padding: 1.2vh 2.5vh;
    font-size: 2vh;
  }
}

.waitingNext {
  opacity: 0;
  z-index: -1;
}

.playerContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vh;
  height: 66vh;
}

.playerContainer h4 {
  position: absolute;
  color: white;
  font-weight: 800;
  letter-spacing: 3px;
  text-shadow: 0vh 0vh 4vh black;
}

.shadow {
  opacity: 0;
}

.transleft {
  animation: transleft 2s;
}

.transdown {
  animation: transdown 1s;
  opacity: 0;
}

@keyframes transleft {
  /* from {
        margin-left: 150%;
    }
    to {
        margin-left: 0%;
    } */
  0% {
    margin-left: 150%;
  }
  /* 50%{margin-left:80%;} */
  100% {
    margin-left: 0%;
  }
}

@keyframes transdown {
  0% {
    margin-top: 0%;
    opacity: 1;
  }

  80% {
    margin-top: 0;
    opacity: 1;
  }
  100% {
    margin-top: 150%;
    opacity: 0;
  }
}

.player {
  width: 100%;
  transform: scaleX(-1);
}

.kill_button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10vh;
  margin: 10vh 2vh;
  transition: 0.3s;
}

.vibrate_kill {
  animation: vibrate_kill 1s infinite;
}

@keyframes vibrate_kill {
  0% {
    width: 10vh;
  }
  50% {
    width: 11vh;
  }
  100% {
    width: 10vh;
  }
}

.nextButton {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

/* Pup Up*/

* {
  box-sizing: border-box;
}

body {
  background-color: #edeef6;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Orbitron";
}

/* button {
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
} */

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease;
  flex-direction: column;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background: #2a0609;
  border: 3px solid;
  width: 70%;
  height: 25%;
  border-radius: 5px;
  box-shadow: 0 2px 4px #f10303e5;
  text-align: center;
  margin-top: -20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2vh;
  margin-bottom: 15vh;
}

.modal h3 {
  max-width: 80%;
  color: white;
}

#imagen {
  width: 100%;
  height: 100%;
}

.container_imagen {
  height: 20vh;
  width: 35vh;
  z-index: 2;
}

.btcontinue {
  border: solid 3px white;
  padding: 0.7vh 0.2vh 0.3vh 0.7vh;
  margin: 0vh 1.5vh;
  width: 80%;
  cursor: pointer;
}

.container_bottons {
  display: flex;
  justify-content: space-evenly;
}

/* Media Queries */

/* Media movile-tablet */
@media (min-width: 660px) {
  .gif_gun {
    width: 60vh;
    height: 50vh;
  }
  .img_gun {
    width: 20vh;
    height: 21vh;
  }
  .playerContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vh;
    height: 55vh;
  }
  .kill_button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 13vh;
    margin: 8.5vh 2vh;
    transition: 0.3s;
  }

  .vibrate_kill {
    animation: vibrate_kill 1s infinite;
  }

  @keyframes vibrate_kill {
    0% {
      width: 13vh;
    }
    50% {
      width: 15vh;
    }
    100% {
      width: 13vh;
    }
  }
  .nextButton_oficial {
    position: absolute;
    bottom: 0;
    z-index: 5;
    color: white;
    border: 3px solid white;
    margin: 8vh 4vh;
    cursor: pointer;
    padding: 2vh 5vh;
    transition: 0.3s;
    animation: vibrate 1s infinite;
  }
  @keyframes vibrate {
    0% {
      padding: 2vh 5vh;
      font-size: 2.3vh;
    }
    50% {
      padding: 2vh 5vh;
      font-size: 2.8vh;
    }
    100% {
      padding: 2vh 5vh;
      font-size: 2.3vh;
    }
  }
  .playerContainer h4 {
    color: white;
    font-weight: 800;
    font-size:2.6vh;
  }
}

/* MEDIA MOVILE */
@media (max-width: 660px) {
  .gif_gun {
    width: 55vh;
    height: 45vh;
  }
  .img_gun {
    width: 15vh;
    height: 18vh;
  }
  .playerContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vh;
    height: 50vh;
  }
}

/* Media desktop ++ */
@media (min-width: 1024px) {
  .modal {
    max-width: 30%;
    min-height: 30%;
  }

  .container_imagen {
    height: 20vh;
    width: 35vh;
    z-index: 2;
  }

  .gif_gun {
    width: 62vh;
    height: 52vh;
  }
  .img_gun {
    width: 22vh;
    height: 23vh;
  }
  .kill_button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18vh;
    margin: 8.5vh 2vh;
    transition: 0.3s;
  }

  .vibrate_kill {
    animation: vibrate_kill 1s infinite;
  }

  @keyframes vibrate_kill {
    0% {
      width: 18vh;
    }
    50% {
      width: 19vh;
    }
    100% {
      width: 18vh;
    }
  }
  .nextButton_oficial {
    position: absolute;
    bottom: 0;
    z-index: 5;
    color: white;
    border: 3px solid white;
    margin: 8vh 4vh;
    cursor: pointer;
    padding: 2.8vh 6vh;
    transition: 0.3s;
    animation: vibrate 1s infinite;
  }
  @keyframes vibrate {
    0% {
      padding: 2.8vh 6vh;
      font-size: 4vh;
    }
    50% {
      padding: 3.5vh 6.5vh;
      font-size: 4vh;
    }
    100% {
      padding: 2.8vh 6vh;
      font-size: 4vh;
    }
  }
  .playerContainer h4 {
    color: white;
    font-weight: 800;
    font-size:2.6vh;
  }
}

/* Media Movile invertido */
@media (max-height: 480px) {

}
