.gamePageDisplay {
  background-image: url(../assets/img/fondogamered.png);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.gun {
  position: absolute;
  bottom: 0px;

  /*left: 50%;*/
}

.kill_button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* Pup Up*/

* {
  box-sizing: border-box;
}

body {
  background-color: #edeef6;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Orbitron";

}

/* button {
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
} */

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease;
  flex-direction: column;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background: #2a0609;
  border: 3px solid;
  width: 70%;
  height: 25%;
  border-radius: 5px;
  box-shadow: 0 2px 4px #f10303e5;
  text-align: center;
  margin-top: -20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2vh;
  margin-bottom: 15vh;
}

.modal h3 {
  max-width: 80%;
  color: white;
}

#imagen {
  width: 100%;
  height: 100%;
}

.container_imagen {
  height: 20vh;
  width: 35vh;
  z-index: 2;
}

.btcontinue {
  border: solid 3px white;
  padding: 0.7vh 0.2vh 0.3vh 0.7vh;
  margin: 0vh 1.5vh;
  width: 80%;
}

.container_bottons {
  display: flex;
  justify-content: space-evenly;
}

/* Media movile-tablet */
@media (max-width: 1024px) {
}

/* MEDIA MOVILE */
@media (max-width: 660px) {
}

/* Media desktop ++ */
@media (min-width: 1024px) {
  .modal {
    max-width: 30%;
    min-height: 30%;
  }

  .container_imagen {
    height: 20vh;
    width: 35vh;
    z-index: 2;
  }
}

/* Media Movile invertido */
@media (max-height: 480px) {
}
